#map {
    border: 1px solid black;
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

#div_place_new {
    height:270px;
    width: 300px;
}

.error_list {
    color: red;
    font-size: 10;
}