#map {
    border: 1px solid black;
    width: 700px;
    height: 400px;
    margin: 0 auto;
}

#marker_save {
    margin-top: 15px;
    color: gray;
}

#infotext {
    width: 185px;
    height:100px;
}

.places {
    border: 1px solid #000000;
    margin: 0 auto;
    width: 700px;
}
.places td {
    border: 1px solid #000000;
    width: 25%;
}